body {
  font-family: "Google Sans", arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(112, 117, 122, 0.4);
  border-radius: 5px;
}

/*.weather-temperature {
}*/

.weather-temperature img {
  height: 60px;
  margin-top: 0px;
  vertical-align: top;
  width: 60px;
}

.units {
  display: inline;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}

.weather-temperature .activehover {
  text-decoration: none;
}

.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.weather-temperature span {
  position: relative;
  font-size: 16px;
  top: -24px;
}

.additional {
  padding: 0;
  position: relative;
  top: 6px;
}
.weather-additional {
  color: rgb(112, 117, 122);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.city {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
}

.sub-city {
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.forecast-temp {
  font-size: 13px;
}

.ftemp-min {
  opacity: 0.6;
}
